/** responsive */
@mixin mobile {
  @media (max-width: #{$tablet-width - 1px}) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

@mixin ResponsiveCustom($width) {
  @media (max-width: #{$width - 1px}) {
    @content;
  }
}

@mixin Responsive($width) {
  @media only screen and (max-width: $width) {
    @content;
  }
}

/** align */
@mixin flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin tranformCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/** limit line */
@mixin lineLimit($numberLine: 3) {
  display: -webkit-box;
  -webkit-line-clamp: $numberLine;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

/** Box */
@mixin container {
  width: 100%;
  margin: 0 auto;
  max-width: $lg-width;
  @include mobile {
    max-width: $sm-width;
  }
}

/** Typography */
@mixin titleSection {
  color: $main-color;
  font-size: $text-5xl;
  line-height: 55px;
  font-weight: $font-bold;
  margin-bottom: 28px;
  @include mobile {
    font-size: $text-2xl;
    line-height: 30px;
    margin-bottom: 20px;
  }
}

@mixin subTitleSection {
  color: $main-color;
  font-size: $text-2xl;
  line-height: 30px;
  font-weight: $font-normal;
  margin-bottom: 56px;
  @include mobile {
    font-size: $text-xl;
    line-height: 24px;
    margin-bottom: 67px;
  }
}
