/** responsive */
@mixin mobile {
  @media (max-width: #{$tablet-width - 1px}) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

@mixin ResponsiveCustom($width) {
  @media (max-width: #{$width - 1px}) {
    @content;
  }
}

@mixin Responsive($width) {
  @media only screen and (max-width: $width) {
    @content;
  }
}

/** align */
@mixin flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin tranformCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/** limit line */
@mixin lineLimit($numberLine: 3) {
  display: -webkit-box;
  -webkit-line-clamp: $numberLine;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
