/** imports */

// react-slick
@import 'slick-carousel/slick/slick.css';
@import 'slick-carousel/slick/slick-theme.css';

// Fonts
@import './fonts/Montserrat';

/** config */
@import './variables';
@import './mixin';

:root {
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

@media (prefers-color-scheme: light) {
}

/** component */
@import './components/layout';
@import './components/hero';
@import './components/utils';
@import './components/form';
@import './components/community';
@import './components/card';
@import './components/slick';
@import './components/list';
@import './components/eventpromotion';
@import './components/exclusive';
@import './components/footer';

/** effect */
@import './effects/animation';
