.story-slick {
  margin-bottom: 80px;
  .slick-track {
    padding-top: 3px;
  }
  .slick-prev,
  .slick-next {
    &::before {
      display: none;
    }
    svg {
      color: $main-color;
      font-size: 40px;
    }
  }
  @include mobile {
    margin-bottom: 24px;
    .slick-prev,
    .slick-next {
      svg {
        font-size: 30px;
      }
    }
  }
}

.post-slick {
  padding-bottom: 88px;
  .slick-prev,
  .slick-next {
    z-index: 20;
    &::before {
      display: none;
    }
    svg {
      color: $main-color;
      font-size: 40px;
    }
  }
  .slick-prev {
    left: 50%;
    top: 100%;
    transform: translate(-390%, -170%);
  }
  .slick-next {
    right: 50%;
    top: 100%;
    transform: translate(300%, -170%);
  }
  .slick-dots {
    bottom: 0;
    z-index: 10;
    li {
      display: none;
      &.slick-active {
        display: inline;
      }
    }
    .slick-paging {
      font-size: $text-xl;
      color: $main-color;
      line-height: 24px;
    }
  }
  @include mobile {
    display: none;
  }
}

.event-slick {
  max-width: 1920px;
  margin: 0 auto;
  padding-bottom: 68px;
  .slick-prev,
  .slick-next {
    display: none;
    &::before {
      display: none;
    }
  }
  .slick-dots {
    bottom: 0px;
    z-index: 10;
    li {
      width: 45px;
      height: 45px;
      &.slick-active {
        .slick-paging {
          background-image: url('/imgs/bg-dot.png');
          background-repeat: no-repeat;
          background-size: cover;
        }
      }
      .slick-paging {
        display: block;
        width: 45px;
        height: 45px;
        font-size: 1.0625rem;
        font-weight: $font-normal;
        color: $main-color;
        transition: 250ms all ease-in-out;
        @include flexCenter;
      }
    }
    .slick-paging {
      font-size: $text-xl;
      color: $main-color;
      line-height: 24px;
    }
  }
  .slick-track {
    padding: 30px 0;
  }
  .slick-slide {
    transition: 1000ms ease-in-out;
    transition-property: transform;
  }
  .slick-center {
    transform: scale(110%);
  }
  @include mobile {
    .slick-dots {
      display: none !important;
    }
  }
}
