.story-slick {
  margin-bottom: 80px;
  .slick-track {
    padding-top: 3px;
  }
  .slick-prev,
  .slick-next {
    &::before {
      display: none;
    }
    svg {
      color: $main-color;
      font-size: 40px;
    }
  }
  @include mobile {
    margin-bottom: 24px;
    .slick-prev,
    .slick-next {
      svg {
        font-size: 30px;
      }
    }
  }
}

.post-slick {
  padding-bottom: 88px;
  .slick-prev,
  .slick-next {
    z-index: 20;
    &::before {
      display: none;
    }
    svg {
      color: $main-color;
      font-size: 40px;
    }
  }
  .slick-prev {
    left: 50%;
    top: 100%;
    transform: translate(-390%, -170%);
  }
  .slick-next {
    right: 50%;
    top: 100%;
    transform: translate(300%, -170%);
  }
  .slick-dots {
    bottom: 0;
    z-index: 10;
    li {
      display: none;
      &.slick-active {
        display: inline;
      }
    }
    .slick-paging {
      font-size: $text-xl;
      color: $main-color;
      line-height: 24px;
    }
  }
  &.exclusive-slick {
    @include mobile {
      display: block;
    }
  }
  @include mobile {
    display: none;
  }
}

.event-slick {
  max-width: 1920px;
  margin: 0 auto;
  padding-bottom: 68px;
  .slick-prev,
  .slick-next {
    display: none;
    &::before {
      display: none;
    }
  }
  .slick-dots {
    bottom: 0px;
    z-index: 10;
    li {
      width: 45px;
      height: 45px;
      &.slick-active {
        .slick-paging {
          & > div svg circle:nth-child(2) {
            animation-name: proccess;
            animation-duration: 3s;
            animation-iteration-count: 1;
            animation-timing-function: linear;
            @keyframes proccess {
              0% {
                stroke-dashoffset: calc(120 - (120 * 0) / 100);
              }
              33% {
                stroke-dashoffset: calc(120 - (120 * 33) / 100);
              }
              66% {
                stroke-dashoffset: calc(120 - (120 * 66) / 100);
              }
              100% {
                stroke-dashoffset: calc(120 - (120 * 100) / 100);
              }
            }
          }
        }
      }
      .slick-paging {
        width: 45px;
        height: 45px;
        border-radius: 50%;
        font-size: 1.0625rem;
        font-weight: $font-normal;
        color: $main-color;
        transition: 250ms all ease-in-out;
        @include flexCenter;
        border: 3px solid transparent;
        position: relative;
        & > span {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
        & > div {
          position: relative;
          top: 0;
          left: 0;
          width: 42px;
          height: 42px;
          transform: rotate(-90deg);
          @include flexCenter;
          svg {
            position: relative;
            top: 0;
            left: 0;
            width: 42px;
            height: 42px;
            @include flexCenter;
            circle {
              width: 100%;
              height: 100%;
              fill: transparent;
              stroke: $white-color;
              stroke-width: 3;
            }
            circle:nth-child(2) {
              stroke: $main-color;
              stroke-dasharray: 120;
              stroke-dashoffset: calc(120 - (120 * 0) / 100);
            }
          }
        }
      }
    }
    .slick-paging {
      font-size: $text-xl;
      color: $main-color;
      line-height: 24px;
    }
  }
  .slick-track {
    padding: 30px 0;
  }
  .slick-slide {
    transition: 1000ms ease-in-out;
    transition-property: transform;
    &:hover {
      transform: scale(105%);
    }
  }
  .slick-center {
    transform: scale(110%);
    &:hover {
      transform: scale(110%);
    }
  }
  @include mobile {
    .slick-dots {
      display: none !important;
    }
  }
}
